In [1]:
import pandas as pd

In [2]:
ds=pd.read_excel("titanic3.xls")

In [3]:
ds.describe(include="number")

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [4]:
ds.nunique()

pclass          3
survived        2
name         1307
sex             2
age            98
sibsp           7
parch           8
ticket        939
fare          281
cabin         186
embarked        3
boat           28
body          121
home.dest     369
dtype: int64

In [5]:
ds.head(2)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
#gender is the categorical data

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
ds["sex"]=le.fit_transform(ds["sex"])

In [10]:
ds.head(2)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",1,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"

In [11]:
ds.isnull().mean().sort_values(ascending=False)

body         0.907563
cabin        0.774637
boat         0.628724
home.dest    0.430863
age          0.200917
embarked     0.001528
fare         0.000764
ticket       0.000000
parch        0.000000
sibsp        0.000000
sex          0.000000
name         0.000000
survived     0.000000
pclass       0.000000
dtype: float64

In [12]:
mean_age=ds["age"].mean()
mean_fare=ds["fare"].mean()

In [13]:
mean_age

29.8811345124283

In [14]:
ds["age"]=ds["age"].fillna(mean_age)
ds["fare"]=ds["fare"].fillna(mean_fare)

In [15]:
ds.describe(include="number")

,pclass,survived,sex,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,121.000000
mean,2.294882,0.381971,0.644003,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,0.478997,12.883199,1.041658,0.865560,51.738879,97.696922
min,1.000000,0.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,22.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,1.000000,29.881135,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,1.000000,35.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [16]:
x=ds.loc[:,["pclass","sex","age","sibsp","parch","fare"]].values

In [17]:
y=ds.loc[:,["survived"]].values

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc=StandardScaler()

In [22]:
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [29]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 11, init = 'uniform', activation = 'relu', input_dim = 6))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 11, init = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(x_train, y_train, batch_size = 10, nb_epoch = 100)

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(x_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

/home/anonymous/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=6, units=11, kernel_initializer="uniform")`
  # Remove the CWD from sys.path while we load stuff.
/home/anonymous/.local/lib/python3.6/site-packages/ipykernel_launcher.py:13: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=11, kernel_initializer="uniform")`
  del sys.path[0]
/home/anonymous/.local/lib/python3.6/site-packages/ipykernel_launcher.py:16: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  app.launch_new_instance()
/home/anonymous/.local/lib/python3.6/site-packages/ipykernel_launcher.py:22: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
1047/1047 [==============================] - 1s 1ms/step - loss: 0.6855 - acc: 0.6399
Epoch 2/100
1047/1047 [==============================] - 0s 194us/step - loss: 0.6040 - acc: 0.7784
Epoch 3/100
1047/1047 [==============================] - 0s 147us/step - loss: 0.4926 - acc: 0.7841
Epoch 4/100
1047/1047 [==============================] - 0s 144us/step - loss: 0.4639 - acc: 0.7870
Epoch 5/100
1047/1047 [==============================] - 0s 136us/step - loss: 0.4555 - acc: 0.7899
Epoch 6/100
1047/1047 [==============================] - 0s 131us/step - loss: 0.4509 - acc: 0.7947
Epoch 7/100
1047/1047 [==============================] - 0s 133us/step - loss: 0.4476 - acc: 0.7956
Epoch 8/100
1047/1047 [==============================] - 0s 140us/step - loss: 0.4452 - acc: 0.7975
Epoch 9/100
1047/1047 [==============================] - 0s 146us/step - loss: 0.4433 - acc: 0.7994
Epoch 10/100
1047/1047 [==============================] - 0s 144us/step - loss: 0.4414 - acc: 0.7994
Epoch 11/100
1047/1047 [==============================] - 0s 162us/step - loss: 0.4404 - acc: 0.8052
Epoch 12/100
1047/1047 [==============================] - 0s 155us/step - loss: 0.4400 - acc: 0.8023
Epoch 13/100
1047/1047 [==============================] - 0s 148us/step - loss: 0.4388 - acc: 0.8004
Epoch 14/100
1047/1047 [==============================] - 0s 144us/step - loss: 0.4380 - acc: 0.8061
Epoch 15/100
1047/1047 [==============================] - 0s 140us/step - loss: 0.4369 - acc: 0.8023
Epoch 16/100
1047/1047 [==============================] - 0s 144us/step - loss: 0.4373 - acc: 0.8032
Epoch 17/100
1047/1047 [==============================] - 0s 141us/step - loss: 0.4358 - acc: 0.8052
Epoch 18/100
1047/1047 [==============================] - 0s 160us/step - loss: 0.4350 - acc: 0.8052
Epoch 19/100
1047/1047 [==============================] - 0s 251us/step - loss: 0.4342 - acc: 0.8061
Epoch 20/100
1047/1047 [==============================] - 0s 145us/step - loss: 0.4342 - acc: 0.8080
Epoch 21/100
1047/1047 [==============================] - 0s 151us/step - loss: 0.4332 - acc: 0.8090
Epoch 22/100
1047/1047 [==============================] - 0s 159us/step - loss: 0.4325 - acc: 0.8099
Epoch 23/100
1047/1047 [==============================] - 0s 150us/step - loss: 0.4331 - acc: 0.8090
Epoch 24/100
1047/1047 [==============================] - 0s 135us/step - loss: 0.4315 - acc: 0.8090
Epoch 25/100
1047/1047 [==============================] - 0s 140us/step - loss: 0.4312 - acc: 0.8109
Epoch 26/100
1047/1047 [==============================] - 0s 141us/step - loss: 0.4300 - acc: 0.8099
Epoch 27/100
1047/1047 [==============================] - 0s 137us/step - loss: 0.4297 - acc: 0.8071
Epoch 28/100
1047/1047 [==============================] - 0s 227us/step - loss: 0.4303 - acc: 0.8090
Epoch 29/100
1047/1047 [==============================] - 0s 226us/step - loss: 0.4294 - acc: 0.8080
Epoch 30/100
1047/1047 [==============================] - 0s 142us/step - loss: 0.4283 - acc: 0.8109
Epoch 31/100
1047/1047 [==============================] - 0s 144us/step - loss: 0.4284 - acc: 0.8080
Epoch 32/100
1047/1047 [==============================] - 0s 146us/step - loss: 0.4277 - acc: 0.8118
Epoch 33/100
1047/1047 [==============================] - 0s 145us/step - loss: 0.4278 - acc: 0.8138
Epoch 34/100
1047/1047 [==============================] - 0s 138us/step - loss: 0.4277 - acc: 0.8099
Epoch 35/100
1047/1047 [==============================] - 0s 146us/step - loss: 0.4275 - acc: 0.8109
Epoch 36/100
1047/1047 [==============================] - 0s 143us/step - loss: 0.4273 - acc: 0.8052
Epoch 37/100
1047/1047 [==============================] - 0s 152us/step - loss: 0.4271 - acc: 0.8128
Epoch 38/100
1047/1047 [==============================] - 0s 142us/step - loss: 0.4261 - acc: 0.8118
Epoch 39/100
1047/1047 [==============================] - 0s 147us/step - loss: 0.4257 - acc: 0.8080
Epoch 40/100
1047/1047 [==============================] - 0s 146us/step - loss: 0.4265 - acc: 0.8166
Epoch 41/100
1047/1047 [==============================] - 0s 139us/step - loss: 0.4263 - acc: 0.8118
Epoch 42/100
1047/1047 [==============================] - 0s 146us/step - loss: 0.4254 - acc: 0.8099
Epoch 43/100
1047/1047 [==============================] - 0s 139us/step - loss: 0.4255 - acc: 0.8147
Epoch 44/100
1047/1047 [==============================] - 0s 149us/step - loss: 0.4250 - acc: 0.8099
Epoch 45/100
1047/1047 [==============================] - 0s 141us/step - loss: 0.4259 - acc: 0.8118
Epoch 46/100
1047/1047 [==============================] - 0s 137us/step - loss: 0.4254 - acc: 0.8099
Epoch 47/100
1047/1047 [==============================] - 0s 146us/step - loss: 0.4249 - acc: 0.8128
Epoch 48/100
1047/1047 [==============================] - 0s 148us/step - loss: 0.4254 - acc: 0.8118
Epoch 49/100
1047/1047 [==============================] - 0s 129us/step - loss: 0.4246 - acc: 0.8109
Epoch 50/100
1047/1047 [==============================] - 0s 137us/step - loss: 0.4242 - acc: 0.8128
Epoch 51/100
1047/1047 [==============================] - 0s 142us/step - loss: 0.4247 - acc: 0.8109
Epoch 52/100
1047/1047 [==============================] - 0s 152us/step - loss: 0.4250 - acc: 0.8118
Epoch 53/100
1047/1047 [==============================] - 0s 155us/step - loss: 0.4252 - acc: 0.8071
Epoch 54/100
1047/1047 [==============================] - 0s 143us/step - loss: 0.4243 - acc: 0.8090
Epoch 55/100
1047/1047 [==============================] - 0s 171us/step - loss: 0.4240 - acc: 0.8128
Epoch 56/100
1047/1047 [==============================] - 0s 154us/step - loss: 0.4236 - acc: 0.8109
Epoch 57/100
1047/1047 [==============================] - 0s 153us/step - loss: 0.4236 - acc: 0.8128
Epoch 58/100
1047/1047 [==============================] - 0s 153us/step - loss: 0.4235 - acc: 0.8099
Epoch 59/100
1047/1047 [==============================] - 0s 144us/step - loss: 0.4243 - acc: 0.8118
Epoch 60/100
1047/1047 [==============================] - 0s 177us/step - loss: 0.4229 - acc: 0.8118
Epoch 61/100
1047/1047 [==============================] - 0s 138us/step - loss: 0.4230 - acc: 0.8099
Epoch 62/100
1047/1047 [==============================] - 0s 142us/step - loss: 0.4233 - acc: 0.8109
Epoch 63/100
1047/1047 [==============================] - 0s 163us/step - loss: 0.4230 - acc: 0.8128
Epoch 64/100
1047/1047 [==============================] - 0s 182us/step - loss: 0.4229 - acc: 0.8118
Epoch 65/100
1047/1047 [==============================] - 0s 266us/step - loss: 0.4228 - acc: 0.8090
Epoch 66/100
1047/1047 [==============================] - 0s 243us/step - loss: 0.4229 - acc: 0.8118
Epoch 67/100
1047/1047 [==============================] - 0s 144us/step - loss: 0.4234 - acc: 0.8109
Epoch 68/100
1047/1047 [==============================] - 0s 191us/step - loss: 0.4219 - acc: 0.8166
Epoch 69/100
1047/1047 [==============================] - 0s 165us/step - loss: 0.4221 - acc: 0.8128
Epoch 70/100
1047/1047 [==============================] - 0s 148us/step - loss: 0.4222 - acc: 0.8138
Epoch 71/100
1047/1047 [==============================] - 0s 163us/step - loss: 0.4217 - acc: 0.8147
Epoch 72/100
1047/1047 [==============================] - 0s 169us/step - loss: 0.4226 - acc: 0.8090
Epoch 73/100
1047/1047 [==============================] - 0s 152us/step - loss: 0.4217 - acc: 0.8109
Epoch 74/100
1047/1047 [==============================] - 0s 163us/step - loss: 0.4220 - acc: 0.8118
Epoch 75/100
1047/1047 [==============================] - 0s 164us/step - loss: 0.4219 - acc: 0.8109
Epoch 76/100
1047/1047 [==============================] - 0s 164us/step - loss: 0.4230 - acc: 0.8071
Epoch 77/100
1047/1047 [==============================] - 0s 166us/step - loss: 0.4212 - acc: 0.8128
Epoch 78/100
1047/1047 [==============================] - 0s 158us/step - loss: 0.4213 - acc: 0.8157
Epoch 79/100
1047/1047 [==============================] - 0s 181us/step - loss: 0.4215 - acc: 0.8128
Epoch 80/100
1047/1047 [==============================] - 0s 154us/step - loss: 0.4218 - acc: 0.8080
Epoch 81/100
1047/1047 [==============================] - 0s 172us/step - loss: 0.4211 - acc: 0.8118
Epoch 82/100

1047/1047 [==============================] - 0s 151us/step - loss: 0.4202 - acc: 0.8118
Epoch 83/100
1047/1047 [==============================] - 0s 133us/step - loss: 0.4217 - acc: 0.8157
Epoch 84/100
1047/1047 [==============================] - 0s 137us/step - loss: 0.4203 - acc: 0.8166
Epoch 85/100
1047/1047 [==============================] - 0s 132us/step - loss: 0.4211 - acc: 0.8109
Epoch 86/100
1047/1047 [==============================] - 0s 137us/step - loss: 0.4204 - acc: 0.8128
Epoch 87/100
1047/1047 [==============================] - 0s 138us/step - loss: 0.4202 - acc: 0.8118
Epoch 88/100
1047/1047 [==============================] - 0s 138us/step - loss: 0.4206 - acc: 0.8128
Epoch 89/100
1047/1047 [==============================] - 0s 138us/step - loss: 0.4208 - acc: 0.8128
Epoch 90/100
1047/1047 [==============================] - 0s 126us/step - loss: 0.4206 - acc: 0.8071
Epoch 91/100
1047/1047 [==============================] - 0s 136us/step - loss: 0.4202 - acc: 0.8109
Epoch 92/100
1047/1047 [==============================] - 0s 153us/step - loss: 0.4201 - acc: 0.8138
Epoch 93/100
1047/1047 [==============================] - 0s 143us/step - loss: 0.4201 - acc: 0.8147
Epoch 94/100
1047/1047 [==============================] - 0s 145us/step - loss: 0.4194 - acc: 0.8147
Epoch 95/100
1047/1047 [==============================] - 0s 142us/step - loss: 0.4200 - acc: 0.8138
Epoch 96/100
1047/1047 [==============================] - 0s 147us/step - loss: 0.4199 - acc: 0.8128
Epoch 97/100
1047/1047 [==============================] - 0s 132us/step - loss: 0.4199 - acc: 0.8157
Epoch 98/100
1047/1047 [==============================] - 0s 127us/step - loss: 0.4198 - acc: 0.8138
Epoch 99/100
1047/1047 [==============================] - 0s 138us/step - loss: 0.4188 - acc: 0.8109
Epoch 100/100
1047/1047 [==============================] - 0s 140us/step - loss: 0.4192 - acc: 0.8147

In [35]:
cm

array([[151,  11],
       [ 42,  58]])

In [33]:
209/262*100

79.77099236641222